/* 
[ ] FORMAT BUTTONS AND FIX THEIR POSITION WHEN SCROLLING
    - [X] ENLARGE BUTTONS
    - [X] MAKE BUTTONS ROUNDED
    - [X] MAKE BUTTON POSITIONS STATIC
    - [X] CORRECT BUTTON RESPONSIVENESS SIZING ISSUES
    - [ ] CHANGE COLOR OF BUTTON IF IT IS CLICKED
[X] UPDATE COLOR OF BACKGROUND, TEXT AND BUTTONS
[ ] FORMAT THE STORY BLOCKS
    - [ ] SET HEADER
    - [ ] FIX PICTURES
    - [ ] ADJUST SPACING

*/

body {
    
    background:#364652;
    color: black;

}

#topicButtons {
    position: sticky;
}

/* input[type="button"] {
    height: 7vh;
    width: 7vw;
    background: aqua;
    
} */

#sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    width: 20vw;
    margin-right: 2vw;
    /* background: #00B4D8; */
}

#container {
    display: flex;
    /* justify-content: space-between; */
    
}

#topicButtonsList {
    display: flex;
    flex-direction: column;
    margin-right: .5vw;
    list-style: none;
    margin: 0;
    padding-right: 2vw; 
    padding-left: 0;
}

input[type="button"] {
    height: 10vh;
    width: 20vw;
    background: #BDCFDD;
    border-radius: 2vh;
    
}

#storyList {
    display: flex;
    flex-direction: column;
    /* padding-right: 5vw; */
    
}

.storyElement {
    background:  #7B8C99;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin-bottom: 1vh;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2vh;
}

.storyElementTextBlock {
    display: flex;
    flex-direction: column;
}

img {
    width: 15rem;
    height: 15rem;
    
}
